In [1]:
import pm4py
import simpy
import pandas as pd
import random 
from pm4py.statistics.variants.log import get as pml
from pm4py.objects.conversion.log.variants import df_to_event_log_nv

In [76]:
event_log = pm4py.read_xes('Dataset/running-example.xes')

parsing log, completed traces ::   0%|          | 0/6 [00:00<?, ?it/s]

In [62]:
event_log_pd = pm4py.convert_to_dataframe(event_log)

In [63]:
event_log_pd_filtered = event_log_pd[['case:concept:name', 'Activity', 'time:timestamp']]

In [64]:
event_log_pd_filtered.columns = ['entity', 'Activity', 'event_time']

In [79]:
event_log_pd_filtered

   entity            Activity                event_time
0       3    register request 2010-12-30 14:32:00+01:00
1       3    examine casually 2010-12-30 15:06:00+01:00
2       3        check ticket 2010-12-30 16:34:00+01:00
3       3              decide 2011-01-06 09:18:00+01:00
4       3  reinitiate request 2011-01-06 12:18:00+01:00
5       3  examine thoroughly 2011-01-06 13:06:00+01:00
6       3        check ticket 2011-01-08 11:43:00+01:00
7       3              decide 2011-01-09 09:55:00+01:00
8       3    pay compensation 2011-01-15 10:45:00+01:00
9       2    register request 2010-12-30 11:32:00+01:00
10      2        check ticket 2010-12-30 12:12:00+01:00
11      2    examine casually 2010-12-30 14:16:00+01:00
12      2              decide 2011-01-05 11:22:00+01:00
13      2    pay compensation 2011-01-08 12:05:00+01:00
14      1    register request 2010-12-30 11:02:00+01:00
15      1  examine thoroughly 2010-12-31 10:06:00+01:00
16      1        check ticket 2011-01-05 15:12:00+01:00
17      1              decide 2011-01-06 11:18:00+01:00
18      1      reject request 2011-01-07 14:24:00+01:00
19      6    register request 2011-01-06 15:02:00+01:00
20      6    examine casually 2011-01-06 16:06:00+01:00
21      6        check ticket 2011-01-07 16:22:00+01:00
22      6              decide 2011-01-07 16:52:00+01:00
23      6    pay compensation 2011-01-16 11:47:00+01:00
24      5    register request 2011-01-06 09:02:00+01:00
25      5    examine casually 2011-01-07 10:16:00+01:00
26      5        check ticket 2011-01-08 11:22:00+01:00
27      5              decide 2011-01-10 13:28:00+01:00
28      5  reinitiate request 2011-01-11 16:18:00+01:00
29      5        check ticket 2011-01-14 14:33:00+01:00
30      5    examine casually 2011-01-16 15:50:00+01:00
31      5              decide 2011-01-19 11:18:00+01:00
32      5  reinitiate request 2011-01-20 12:48:00+01:00
33      5    examine casually 2011-01-21 09:06:00+01:00
34      5        check ticket 2011-01-21 11:34:00+01:00
35      5              decide 2011-01-23 13:12:00+01:00
36      5      reject request 2011-01-24 14:56:00+01:00
37      4    register request 2011-01-06 15:02:00+01:00
38      4        check ticket 2011-01-07 12:06:00+01:00
39      4  examine thoroughly 2011-01-08 14:43:00+01:00
40      4              decide 2011-01-09 12:02:00+01:00
41      4      reject request 2011-01-12 15:44:00+01:00

In [65]:
log_sim_pm = pd.DataFrame(event_log_pd_filtered, columns = ['entity' , 'event_time', 'Activity'])
log_pm = pm4py.format_dataframe(log_sim_pm, case_id = 'entity', activity_key = 'Activity', timestamp_key = 'event_time')

In [67]:
process_mode = pm4py.discover_bpmn_inductive(log_pm)

In [68]:
pm4py.save_vis_bpmn(process_mode, 'test.png') # command for saving the output model diagram

# Hospital dataset

In [2]:
event_log = pm4py.read_xes('Dataset/Hospital_log.xes')

parsing log, completed traces ::   0%|          | 0/1143 [00:00<?, ?it/s]

In [3]:
event_log_pd =pm4py.convert_to_dataframe(event_log)

In [4]:
event_log_pd_filtered = event_log_pd[['concept:name', 'time:timestamp', 'case:concept:name']]

In [5]:
event_log_pd_filtered['concept:name'] = event_log_pd_filtered['concept:name'].str.replace('[^a-zA-Z]', '')

<ipython-input-5-d2b44d74f366>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  event_log_pd_filtered['concept:name'] = event_log_pd_filtered['concept:name'].str.replace('[^a-zA-Z]', '')
<ipython-input-5-d2b44d74f366>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_log_pd_filtered['concept:name'] = event_log_pd_filtered['concept:name'].str.replace('[^a-zA-Z]', '')

In [7]:
event_log_pd_filtered

,concept:name,time:timestamp,case:concept:name
0,econsultpoliklinisch,2005-01-03 00:00:00+01:00,00000000
1,administratieftariefeerstepol,2005-01-03 00:00:00+01:00,00000000
2,verloskgynaeckortekaartkostenout,2005-01-05 00:00:00+01:00,00000000
3,echografiegenitaliainterna,2005-01-05 00:00:00+01:00,00000000
4,econsultpoliklinisch,2005-01-05 00:00:00+01:00,00000000
...,...,...,...
150286,calcium,2008-03-20 00:00:00+01:00,00001142
150287,albumine,2008-03-20 00:00:00+01:00,00001142
150288,screeningantistoffenerytrocyten,2008-03-20 00:00:00+01:00,00001142
150289,differentiatieleukocytenhandmatig,2008-03-20 00:00:00+01:00,00001142
150290,ordertarief,2008-03-20 00:00:00+01:00,00001142

In [6]:
event_log = df_to_event_log_nv.apply(event_log_pd_filtered)

In [24]:
event_log_pd_filtered.columns = ['activity','timestamp','entity']

In [28]:
log_pm = pm4py.format_dataframe(event_log_pd_filtered, case_id = 'entity', activity_key = 'activity', timestamp_key = 'timestamp')

In [29]:
process_mode = pm4py.discover_bpmn_inductive(log_pm)

In [35]:
pm4py.save_vis_bpmn(process_mode, 'test.png')

dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.74209 to fit